---
- name: preparing_hosts
  import_playbook: preparing_hosts.yml

- name: kubeadm init
  import_playbook: exec_kubeadm_init.yml

- name: install CNI
  import_playbook: deploy_cni.yml

- name: add master nodes
  import_playbook: add_master_node.yml

- name: add worker nodes
  import_playbook: add_worker_node.yml
